.product-grid {
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  justify-content: center;
  margin: 50px;
  margin-top: 32px;
  padding: 10px;
}

.product-card {
  align-items: center;
  background-color: white;
  border-radius: 8px;
  box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  padding: 16px;
  text-align: center;
  transition: all 0.3s ease;
}

.product-card:hover {
  box-shadow: 1px 8px 8px rgba(0, 0, 0, 0.2);
}

.product-card img {
  border-radius: 8px;
  height: 250px;
  margin-bottom: 16px;
  max-width: 100%;
  object-fit: cover;
}

.product-card h2 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 8px;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.product-card p {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 16px;
}

.btn_shopping-cart {
  align-items: center;
  display: flex;
}

.btn_shopping-cart .button-plus-item {
  background-color: transparent;
  border: 1px solid black;
  border-bottom-right-radius: 10px;
  border-left: none;
  border-top-right-radius: 10px;
  color: black;
  cursor: pointer;
  font-size: 18px;
  padding: 5px;
  transition: background-color 0.3s ease;
}

.btn_shopping-cart .button-plus-item:hover {
  background-color: #0786c7;
  color: white;
}

.btn_shopping-cart .input-quantity-products {
  appearance: none;
  background-color: transparent;
  border: 1px solid black;
  border-left: none;
  border-right: none;
  color: black;
  font-size: 18px;
  padding: 5px;
  text-align: center;
  width: 100px;
}

.input-quantity-products:focus {
  outline: none;
}

.btn_shopping-cart .button-minus-item {
  background-color: transparent;
  border: 1px solid black;
  border-bottom-left-radius: 10px;
  border-right: none;
  border-top-left-radius: 10px;
  color: black;
  cursor: pointer;
  font-size: 18px;
  padding: 5px;
  transition: background-color 0.3s ease;
}

.btn_shopping-cart .button-minus-item:hover {
  background-color: #ebbc00;
  color: black;
}

.input-quantity-products::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.input-quantity-products::-webkit-outer-spin-button {
  appearance: none;
  margin: 0;
}

.submit-products-button-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 32px;
}

.submit-products {
  background-color: rgb(46, 23, 252);
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  padding: 16px 32px;
  text-align: center;
  transition: all 0.3s ease;
}

.submit-products:hover {
  background-color: rgb(29, 42, 124);
}

.submit-products:disabled {
  background-color: rgb(204, 204, 204);
  cursor: not-allowed;
}

.submit-products p {
  display: inline;
  margin: 0;
  margin-left: 8px;
}

@media screen and ( max-width : 768px ) {

  .product-card h2 {
    font-size: calc(18px + 0.1 * (100vw - 320px) / 448);
  }
}
